<header>
  <div class="main-header">
    <i class="main-mark fa-brands fa-instagram"></i>
    <h1 class="main-title"><a href="/">Studygram</a></h1>
  </div>
  <nav>
    <ul>
      <li><a href="/list/1">게시물 목록</a></li>
      <li><a href="/write">글 쓰기</a></li>
      <li><a href="/mypage">마이 페이지</a></li>
      <li><a href="/login">로그인</a></li>
    </ul>
  </nav>
</header>
<div class="header-space"></div>
<script>
  const loginOut = document.querySelector('a[href="/login"]');
  if ('<%= user %>') {
    loginOut.innerText = '로그아웃';
    loginOut.setAttribute('href', '/logout');
  } else {
    loginOut.innerText = '로그인';
  }
</script>
