<header>
  <div class="main-header">
    <i class="main-mark fa-brands fa-instagram"></i>
    <h1 class="main-title">Studygram</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/list/1">게시물 목록</a></li>
      <li><a href="/write">글 쓰기</a></li>
      <li><a href="/mypage">마이 페이지</a></li>
      <li><a href="/login">로그아웃</a></li>
    </ul>
  </nav>
</header>
<div class="header-space"></div>
