<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Studygram</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/login.css" />
  </head>
  <body>
    <div class="center-wrap">
      <div class="main-header">
        <i class="main-mark fa-brands fa-instagram"></i>
        <h1 class="main-title">Studygram</h1>
      </div>
      <div class="login-box">
        <form action="/login" method="POST">
          <div class="input-box">
            <div class="id-box">
              <input
                type="text"
                required
                autofocus
                placeholder="id를 입력하세요"
                name="username"
              />
            </div>
            <div class="pw-box">
              <input
                type="password"
                required
                placeholder="비밀번호를 입력하세요"
                name="password"
              />
            </div>
            <% if (msg == 'id') {%>
            <p class="id-error">* 존재하지 않는 아이디입니다. *</p>
            <% } else if (msg == 'pw') { %>
            <p class="pw-error">* 잘못된 비밀번호입니다. *</p>
            <% } %>
          </div>
          <div class="btn-box">
            <button type="submit">로그인</button>
            <a href="/register"><button type="button">회원가입</button></a>
          </div>
        </form>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/a99ca2fd10.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
