.btn-box {
  text-align: right;
  margin: 10px 30px;
}

.btn-box button,
.delete-box button {
  width: 100px;
  height: 40px;
  margin: 10px 0;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
}

.put-btn {
  background-color: #74c0fc;
}

.put-btn:hover {
  background-color: #4dabf7;
}

.delete-btn,
.delete-yes {
  background-color: #ff3333;
}

.delete-btn:hover,
.delete-yes:hover {
  background-color: #ff0000;
}

.gray-bg {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(87, 87, 87, 0.7);
  z-index: 10;
}

.delete-box {
  background-color: #ffffff;
  border: 3px solid #74c0fc;
  border-radius: 10px;
  padding: 50px 80px;
}

.delete-btn-box {
  text-align: right;
  padding-top: 10px;
}

.delete-no {
  background-color: #aaa5a5;
}

.delete-no:hover {
  background-color: #808080;
}

.detail-box {
  margin: 10px 30px;
  border: 2px solid #74c0fc;
  border-radius: 10px;
}

.detail-user {
  color: #808080;
  padding: 30px 0 0 20px;
}

.detail-title {
  padding: 0 0 30px 20px;
  border-bottom: 2px solid #74c0fc;
}

.detail-content {
  font-size: 20px;
  min-height: 400px;
  padding: 20px;
}

.icon-box div {
  display: inline-block;
  padding: 0 20px 20px;
}

.icon-box p {
  display: inline-block;
}

.icon-box i {
  font-size: 20px;
}

.heart i {
  color: #ff0000;
  cursor: pointer;
}

.comment i {
  color: #74c0fc;
}
