* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gowun Dodum', sans-serif;
}

header {
  display: flex;
  border-bottom: 3px solid #74c0fc;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
}

.main-header {
  display: flex;
  font-size: 50px;
  color: #74c0fc;
  padding-bottom: 10px;
}

.main-mark {
  padding: 10px 20px 0 20px;
}

.main-title {
  font-size: 50px;
  vertical-align: middle;
  margin-right: 20px;
}

.main-title a {
  text-decoration: none;
  color: #74c0fc;
}

nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #74c0fc;
  font-size: 25px;
  font-weight: 700;
}

.header-space {
  height: 100px;
}
