.register-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  border: 3px solid #74c0fc;
  border-radius: 10px;
}

.register-box form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  padding-right: 30px;
}

.id-box {
  display: inline-block;
}

.id-box input,
.pw-box input {
  width: 300px;
  height: 40px;
  margin: 10px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #74c0fc;
  font-size: 20px;
}

.id-box input::placeholder,
.pw-box input::placeholder {
  font-size: 15px;
}

.duplication {
  width: 80px;
  height: 30px;
  margin: 10px 0;
  background-color: #74c0fc;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
}

.duplication:hover {
  background-color: #4dabf7;
}

.duplication-yes {
  color: #ff0000;
}

.duplication-no {
  color: #00ff00;
}

.second-pw {
  display: block;
}

.pw-not-matched {
  color: #ff0000;
}

.btn-box button {
  width: 100px;
  height: 40px;
  margin: 10px 0;
  background-color: #808080;
  cursor: default;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 3px;
}

.btn-box button:hover {
  background-color: #4dabf7;
}
